<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    {{>header}}
    <p>This is a simple express server for serving up a weather app!</p>
    <p><a href="http://localhost:3000/">Home</a></p>
    <p><a href="http://localhost:3000/help">Help</a></p>
    {{>footer}}
</body>

</html>