<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    {{>error_header}}
    <h3>{{error}}</h3>
    <a href="http://localhost:3000/">Home</a>
    <a href="http://localhost:3000/help">Help</a>
    <a href="http://localhost:3000/about">About</a>
    {{>footer}}
</body>

</html>