<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <h1>{{title}}: About</h1>
    <p>This is a simple express server for serving up a weather app!</p>
    <p><img src="/img/prof_icon.jpeg"></p>
    <p><a href="http://localhost:3000/">Home</a></p>
    <p><a href="http://localhost:3000/help">Help</a></p>
</body>

</html>